name: Deploy Hugo site to Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.123.0
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: false

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"

      - name: Build with Hugo
        env:
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo \
            --gc \
            --minify \
            --baseURL "https://llm-pt-ibm.github.io/llm_ibm_blog.github.io/"  # Atualize para sua baseURL correta

      - name: Verify public directory
        run: |
          if [ -d "./public" ]; then
            echo "Directory ./public exists. Listing contents:"
            ls -R ./public
          else
            echo "Error: ./public directory does not exist!"
            exit 1
          fi

      - name: Remove symbolic and hard links
        run: |
          # Remove symlinks and hard links
          find ./public -type l -exec rm -f {} \;  # Remove symbolic links
          find ./public -type f -links +1 -exec rm -f {} \;  # Remove hard links

      - name: Check size of public directory
        run: |
          du -sh ./public
          if [ $(du -s ./public | awk '{print $1}') -gt 10000 ]; then
            echo "Error: The public directory size exceeds 10GB!"
            exit 1
          fi

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: public
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: public
